# import 'macro/utils.html' as utils

<table class="table table-striped table-bordered table-hover gh-list">
  # if order
    <thead>
      <tr class="text-nowrap">
        <th class="text-center ">Rank</th>
        <th class="text-center col-xs-12">Name</th>
        <th class="text-center ">
          # if 'star' in order
            Stars
          # else
            <a href="{{url_for('repo')}}">Stars</a>
          # endif
        </th>
        <th class="text-center ">
          # if 'fork' in order
            Forks
          # else
            <a href="{{url_for('repo', order='forks')}}">Forks</a>
          # endif
        </th>
      </tr>
    </thead>
  # endif
  <tbody>
    # for repo_db in repo_dbs
      <tr class="row-link" id="{{repo_db.key.urlsafe()}}" data-href="{{url_for('gh_account', username=repo_db.account_username)}}">
        <td class="text-right text-nowrap text-muted">{{loop.index}}.</td>
        <td class="col-xs-12 ellipsis">
          <img class="avatar" src="{{repo_db.avatar_url}}?size=48" alt="">
          {{repo_db.name}} <small class="text-muted">{{repo_db.account_username}}</small>
        </td>
        <td class="text-right text-nowrap {{'text-muted' if order and 'star' not in order}}">{{repo_db.stars_hu}} <span class="text-muted fa fa-star"></span></td>
        # if order
          <td class="text-right text-nowrap {{'text-muted' if order and 'fork' not in order}}">{{repo_db.forks_hu}} <span class="text-muted fa fa-code-fork"></span></td>
        # endif
      </tr>
    # endfor
  </tbody>
</table>
