# extends 'base.html'
# import 'macro/utils.html' as utils

# block content
  <div class="row">
    <div class="col-sm-4">
      <h2>{{title}}</h2>
      <table class="table table-striped table-bordered table-hover gh-list">
        <tbody>
          # for account_db in user_dbs
            <tr class="row-link" id="{{account_db.key.urlsafe()}}" data-href="{{url_for('gh_account', username=account_db.username)}}">
              <td class="col-xs-12 ellipsis">
                <img class="avatar" src="{{account_db.avatar_url}}?size=48" alt="">
                {{account_db.name}} <small class="text-muted">{{account_db.username}}</small>
              </td>
              <td class="text-right text-nowrap">{{account_db.stars_hu}} <span class="fa fa-star"></span></td>
            </tr>
          # endfor
        </tbody>
      </table>
    </div>
  </div>
# endblock
