<div class="btn-group btn-group-justified btn-group-sm">
  <a class="{{'active' if limit == 64}} btn btn-default" href="{{update_query_argument('limit', 64)}}">Top 64</a>
  <a class="{{'active' if limit == 256}} btn btn-default" href="{{update_query_argument('limit', 256)}}">Top 256</a>
  <a class="{{'active' if limit == 512}} btn btn-default" href="{{update_query_argument('limit', 512)}}">Top 512</a>
  <a class="{{'active' if limit == 1024}} btn btn-default" href="{{update_query_argument('limit', 1024)}}">Top 1024</a>
</div>
