# extends 'admin/admin_base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils


# block admin_content
  <div class="row">
    <div class="col-sm-6">
      <form method="POST" action="." novalidate>
        {{form.csrf_token}}
        {{forms.text_field(form.name, autofocus=True)}}
        {{forms.textarea_field(form.description)}}
        {{forms.number_field(form.stars)}}
        {{forms.select_field(form.account_key)}}
        <button type="submit" class="btn btn-primary btn-block btn-loading" {{forms.data_loading_text()}}>
          # if repo_db.key
            Update
          # else
            Create
          # endif
        </button>
      </form>
    </div>
  </div>
# endblock
