# extends 'base.html'
# import 'macro/utils.html' as utils

# block content
  <div class="row">
    <div class="col-sm-4">
      <h2>Users</h2>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr class="text-nowrap">
            <th class="col-xs-11">Name</th>
            <th class="col-xs-1 text-right">Stars</th>
          </tr>
        </thead>
        <tbody>
          # for account_db in user_dbs
            <tr class="row-link" id="{{account_db.key.urlsafe()}}" data-href="{{url_for('gh_account', username=account_db.username)}}">
              <td>{{account_db.name}}</td>
              <td class="text-right">{{account_db.stars}}</td>
            </tr>
          # endfor
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <h2>Organizations</h2>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr class="text-nowrap">
            <th class="col-xs-11">Name</th>
            <th class="col-xs-1 text-right">Stars</th>
          </tr>
        </thead>
        <tbody>
          # for account_db in organization_dbs
            <tr class="row-link" id="{{account_db.key.urlsafe()}}" data-href="{{url_for('gh_account', username=account_db.username)}}">
              <td>{{account_db.name}}</td>
              <td class="text-right">{{account_db.stars}}</td>
            </tr>
          # endfor
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <h2>Repositories</h2>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr class="text-nowrap">
            <th class="col-xs-11">Name</th>
            <th class="col-xs-1 text-right">Stars</th>
          </tr>
        </thead>
        <tbody>
          # for repo_db in repo_dbs
            <tr class="row-link" id="{{repo_db.key.urlsafe()}}" data-href="{{url_for('gh_account', username=repo_db.account_username)}}">
              <td>{{repo_db.name}}</td>
              <td class="text-right">{{repo_db.stars}}</td>
            </tr>
          # endfor
        </tbody>
      </table>
    </div>
  </div>
# endblock
